* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  background: #ead7d7;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.accordion-menu {
  width: 100%;
  max-width: 350px;
  margin: 2rem auto;
  background: #6f95bc;
  border-radius: 4px;
}
.accordion-menu li.open .dropdownlink {
  color: #ffffff;
  background: #163e67;
}
.accordion-menu li.open .dropdownlink .fa-chevron-down {
  transform: rotate(180deg);
}
.accordion-menu li:last-child .dropdownlink {
  border-bottom: 0;
}
.dropdownlink {
  cursor: pointer;
  display: block;
  padding: 5px;
  font-size: 18px;
  
  border-bottom: 1px solid #ead7d7;
  color: #ffffff;
  position: relative;
  transition: all 0.4s ease-out;
}

.menu_head {
  display: flex;
  align-items: center;
}
.dropdownlink i {
  position: absolute;
  top: 25px;
}
.dropdownlink .fa-chevron-down {
  right: 12px;
  left: auto;
}
.submenuItems {
  display: none;
  background: #80a7ce;
  transition: 3s ease-in-out;
  animation: anime 0.51s ease-in;
  font-family: monospace;
  font-size: 1rem;
}
@keyframes anime {
  0%{transform:translateY(-100%);opacity: 0;}
  95%{opacity: 0.2;}
  100%{transform: translateY(0); opacity: 1;}
  
}
.submenuItems li {
  border-bottom: 1px solid #b6b6b6;
}
.submenuItems a {
  display: block;
  color:#163e67;
  padding: 12px 12px 12px 45px;
  transition: all 1s ease-out;
}
.submenuItems a:hover {
  background-color: #2e5073;
  color:#fff
}
